<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<connectionStrings />
	
    <system.webServer>
        <handlers accessPolicy="Read, Write, Script" />
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="SearchSite.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.web>
        <identity impersonate="true" />
    </system.web>
</configuration>